body {
	background: url('/img/background.jpg') no-repeat;
	font-family: 'Bitter', serif !important;
	font-size: 20px !important;
}

.well.page-wrapper {
	background: rgba(225, 215, 215, .15);
	padding: 5px;
}

.btn {
	background: rgba(225, 215, 215, .55) !important;
}

.question-page {
	padding: 10px !important;
}

.answers-wrapper {
	padding-left:28px;
}