<h2>New answer</h2>

<form>
	<div class="form-group">
		<label for="text">Enter answer:</label>
		{{textarea value=answer id="text" class="form-control" rows="5"}}
	</div>

	<button class="btn" {{action 'save'}}>Add answer</button>
</form>