<h1><strong><i>Q & A Message Board</i></strong></h1>
<div class="well page-wrapper">
	<ul>
		{{#each}}
			<li>{{#link-to 'question' this.id}}{{question}}{{/link-to}} asked by: {{author}}</li>
		{{/each}}
	</ul>
</div>

<p>{{#link-to 'new-question' class="btn"}}Ask a new question{{/link-to}}</p>
